<b> DASHBOARDS_LAB2 </b>

In [2]:
import pandas as pd

import csv

In [6]:
#skipping first empty row
with open("Original Data Breaches (public) - 2017.csv",'r') as f, open("db_data_2017.csv",'w') as f1:
    next(f) # skip header line
    for line in f:
        f1.write(line)

In [7]:
#coverting a csv file into a dataframe
db_data_2017 = pd.read_csv('db_data_2017.csv')

In [8]:
#skipping row with information about columns
db_data_2017 = db_data_2017.dropna(subset=['Entity'], how='any')

In [9]:
#checking datatypes
db_data_2017.dtypes

Entity                   object
alternative name         object
story                    object
YEAR                     object
records lost             object
ORGANISATION             object
METHOD OF LEAK           object
interesting story        object
NO OF RECORDS STOLEN     object
DATA SENSITIVITY         object
UNUSED                  float64
UNUSED.1                float64
Exclude                  object
Unnamed: 13              object
1st source link          object
2nd source link          object
3rd source               object
source name              object
dtype: object

In [10]:
 #selecting only required columns from data frames and renaming those columns
db_data_2017 = db_data_2017[['Entity','YEAR','records lost','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY']]
db_data_2017.columns = ['ENTITY','YEAR','RECORDS LOST','ORGANISATION','METHOD OF LEAK','NO OF RECORDS STOLEN','DATA SENSITIVITY']

In [11]:
#checking datatypes
db_data_2017.dtypes

ENTITY                  object
YEAR                    object
RECORDS LOST            object
ORGANISATION            object
METHOD OF LEAK          object
NO OF RECORDS STOLEN    object
DATA SENSITIVITY        object
dtype: object

In [12]:
db_data_2017.head()

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
1,AOL,0,92000000,web,inside job,92000000,1
2,Automatic Data Processing,1,125000,financial,poor security,130000,20
3,Ameritrade Inc.,1,200000,financial,lost / stolen device,200000,20
4,Citigroup,1,3900000,financial,lost / stolen device,3900000,300
5,Cardsystems Solutions Inc.,1,40000000,financial,hacked,40000000,300

In [13]:
db_data_2017.tail()

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
249,CEX,14,2000000,retail,accidentally published,2000000,300
250,Swedish Transport Agency,14,3000000,government,poor security,3000000,50000
251,Instagram,14,6000000,web,hacked,6000000,1
252,Equifax,14,143000000,financial,hacked,143000000,50000
253,Spambot,14,711000000,web,poor security,711000000,4000

In [14]:
#changing YEAR values from the codes
db_data_2017.loc[db_data_2017['YEAR'] == '0', 'YEAR'] = 2004
db_data_2017.loc[db_data_2017['YEAR'] == '1', 'YEAR'] = 2005
db_data_2017.loc[db_data_2017['YEAR'] == '2', 'YEAR'] = 2006
db_data_2017.loc[db_data_2017['YEAR'] == '3', 'YEAR'] = 2007
db_data_2017.loc[db_data_2017['YEAR'] == '4', 'YEAR'] = 2008
db_data_2017.loc[db_data_2017['YEAR'] == '5', 'YEAR'] = 2009
db_data_2017.loc[db_data_2017['YEAR'] == '6', 'YEAR'] = 2010
db_data_2017.loc[db_data_2017['YEAR'] == '7', 'YEAR'] = 2011
db_data_2017.loc[db_data_2017['YEAR'] == '8', 'YEAR'] = 2012
db_data_2017.loc[db_data_2017['YEAR'] == '9', 'YEAR'] = 2013
db_data_2017.loc[db_data_2017['YEAR'] == '10', 'YEAR'] = 2014
db_data_2017.loc[db_data_2017['YEAR'] == '11', 'YEAR'] = 2015
db_data_2017.loc[db_data_2017['YEAR'] == '12', 'YEAR'] = 2016
db_data_2017.loc[db_data_2017['YEAR'] == '13', 'YEAR'] = 2017
db_data_2017.loc[db_data_2017['YEAR'] == '14', 'YEAR'] = 2017

In [15]:
#changing DATA SENSITIIVITY values from the codes

db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '1', 'DATA SENSITIVITY'] = 'Just email address/Online information'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '20', 'DATA SENSITIVITY'] = 'SSN/Personal details'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '300', 'DATA SENSITIVITY'] = 'Credit card information'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '4000', 'DATA SENSITIVITY'] = 'Email password/Health records'
db_data_2017.loc[db_data_2017['DATA SENSITIVITY'] == '50000', 'DATA SENSITIVITY'] = 'Full bank account details'

In [16]:
db_data_2017.head()

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
1,AOL,2004,92000000,web,inside job,92000000,Just email address/Online information
2,Automatic Data Processing,2005,125000,financial,poor security,130000,SSN/Personal details
3,Ameritrade Inc.,2005,200000,financial,lost / stolen device,200000,SSN/Personal details
4,Citigroup,2005,3900000,financial,lost / stolen device,3900000,Credit card information
5,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,40000000,Credit card information

In [16]:
#Display rows with null value
NullRows = db_data_2017[db_data_2017.isnull().any(axis=1)]
NullRows

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
147,OVH,2013,NaN,web,hacked,500000,SSN/Personal details
163,UbiSoft,2013,NaN,gaming,hacked,58000000,SSN/Personal details

In [17]:
#to replace NaN with NULL values for RECORDS LOST column
#Fill nullvalue in 'records lost' column with the values from 'NO OF RECORDS STOLEN' column
db_data_2017['RECORDS LOST'] = db_data_2017['RECORDS LOST'].fillna(value=db_data_2017['NO OF RECORDS STOLEN'])

In [18]:
#Display rows with null value
NullRows = db_data_2017[db_data_2017.isnull().any(axis=1)]
NullRows

Empty DataFrame
Columns: [ENTITY, YEAR, RECORDS LOST, ORGANISATION, METHOD OF LEAK, NO OF RECORDS STOLEN, DATA SENSITIVITY]
Index: []

In [19]:
#Drop 'NO OF RECORDS STOLEN' column
del db_data_2017['NO OF RECORDS STOLEN']

In [20]:
db_data_2017.to_csv('databreach_2017.csv')

<b> This dashboard represents a very simplistic view of data breaches over the years in terms of number of records lost.

Advantages:  It is very simple to understand for users

Disadvantages: It does not show any other parameters to determine how data breaching can be quantified or compared. <b>

##### First version of visualization:
https://public.tableau.com/profile/neha4079#!/vizhome/Viz1_attempt2/Viz1_attempt1

<b> This dashboard represents number of data breaches over the years in terms of average number of records lost.

Advantages: It quantifies data breaches as per data sensitivity along with average number of records lost.

Disadvantages: Though this dashboard represents sensitivity of data lost along with numbers, it doesnt really give solution of how it can be avoided in future.
<b>

Second Version of visualization: 

https://public.tableau.com/profile/neha4079#!/vizhome/Viz1_attempt3/VIz1_attempt2

<b>
This dashboard represents number of data breaches over the years in terms of average number of records lost as per entites.

Advantages: It shows data breaches analysis in a manner that a user can understand it as per entity, which can help to take actions to avoid it .
    
Disadvantages: Though this dashboard represents sensitivity of data lost along with numbers, it doesnt really give solution of how it can be avoided in future.
<b>

Final version of visualization:

https://public.tableau.com/profile/neha4079#!/vizhome/LAB2_Viz1_attempt3/Viz1_attempt3

<b>
Security breaches are becoming more severe in terms of number of data lost.
</b>